<!-- Dashboard Content -->
<section class="container my-4">
    <div class="bg-light p-4 rounded shadow">
        <h2 class="display-4 text-center mb-4">Welcome to the Dashboard!</h2>
        <div class="text-center">
            <a href="/project/index/" class="btn btn-success btn-lg">Go to Project Page</a>
            <a href="/Home/Feedback" class="btn btn-info btn-lg">Go to Feedback Page</a>
        </div>
    </div>
</section>